<header class="site-header" role="banner">
  <div class="image" style="overflow:hidden;max-width:1920px;height:150px">
    <img src="images/binary.jpg" alt="" style="margin:-5% 0px -50% 0px;"/>
    <font color=#FFFFFF><h1>LANL Co-Design Spring School</h1></font>
  </div>

  <div style="max-width:1920px;">
    <p>
      <h2>
	<span style="color:#FF0000;float:left;">Apply now!</span>&nbsp;
	<span style="float:right;">
	  <a href="index.html">HOME</a>&nbsp;
	  <a href="info.html">INFO</a>&nbsp;
	  <a href="contacts.html">CONTACT</a>&nbsp;
	</span>
      </h2>
    </p>
  </div>
</br>
</header>
