<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}

    {%if site.color-scheme %}
      <link rel="stylesheet" href="{{ "/assets/css/colors-ColorScheme.css?v=" | replace: "ColorScheme", site.color-scheme | append: site.github.build_revision | relative_url }}">
    {% else %}
      <link rel="stylesheet" href="{{ "/assets/css/colors-auto.css?v=" | append: site.github.build_revision | relative_url }}">
    {% endif %}
    
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
	<h2><a href="{{ "/" | absolute_url }}">Co-Design Winter School</a></h2>
        <img src="images/CDWS.png" alt="Logo" style="display: block; margin-left: auto; margin-right: auto; max-width:70%;" />
	<br/>
	<h3 class="view" ><a href="{{ "/" | absolute_url }}">Home</a></h3>
	<h3 class="view" ><a href="{{ "/info.html" | absolute_url }}">Information</a></h3>
        <h3 class="view" ><a href="{{ "/contacts.html" | absolute_url }}">Contact</a></h3>
        <h3 class="view" ><a href="{{ "/registration.html" | absolute_url }}">Registration</a></h3>

      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <img src="images/nnsa.png"/>
	<img src="images/cea.svg" style="display: block; margin-left: auto; margin-right: auto; max-width:50%; vertical-align:middle;margin-top:10px; margin-bottom:10px"/> 
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
